{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{#{% block body %}#}
{#    <h1>Register</h1>#}

{#    {{ form_start(registrationForm) }}#}
{#        {{ form_row(registrationForm.email) }}#}
{#        {{ form_row(registrationForm.plainPassword, {#}
{#            label: 'Password'#}
{#        }) }}#}
{#        {{ form_row(registrationForm.agreeTerms) }}#}

{#        <button type="submit" class="btn">Register</button>#}
{#    {{ form_end(registrationForm) }}#}
{#{% endblock %}#}
{% block body %}
    {% if app.user %}
        Vous etes déja connecté.
        {% else %}
            <section class="vh-100 bg-image"
                     style="background-image: url('https://mdbcdn.b-cdn.net/img/Photos/new-templates/search-box/img4.webp');">
                <div class="mask d-flex align-items-center h-100 gradient-custom-3">
                    <div class="container h-100">
                        <div class="row d-flex justify-content-center align-items-center h-100">
                            <div class="col-12 col-md-9 col-lg-7 col-xl-6">
                                <div class="card" style="border-radius: 15px;">
                                    <div class="card-body p-5">
                                        <h2 class="text-uppercase text-center mb-5">Inscription</h2>

                                        {{ form_start(registrationForm) }}
                                        {{ form_row(registrationForm.name, {
                                            label : 'Nom'
                                        }) }}
                                        {{ form_row(registrationForm.firstname, {
                                            label : 'Prénom'
                                        }) }}
                                        {{ form_row(registrationForm.sexe, {
                                            label : 'Sexe'
                                        })}}
                                        {{ form_row(registrationForm.dateOfBirth, {
                                            label : 'Date de naissance'
                                        }) }}
                                        {{ form_row(registrationForm.email, {
                                            label : 'Adresse mail'
                                        }) }}
                                        {{ form_row(registrationForm.password.first) }}
                                        {{ form_row(registrationForm.password.second) }}
                                        {{ form_row(registrationForm.agreeTerms, {
                                            label : "J'accepte les conditions générales d'utilisation"})}}

                                        <button type="submit" class="btn">Register</button>
                                        {{ form_end(registrationForm) }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

    {% endif %}
{% endblock %}